<table class="table table-bordered table-sm table-hover">
  <thead class="table thead-light ">
  	  <tr>
      <th scope="col">Name</th>
      <th scope="col">Price</th>
      <th scope="col">24HR High</th>
      <th scope="col">24HR Low</th>
      <th scope="col">Market Cap</th>
    </tr>
  </thead>
  <tbody>
    <tr>
    	<% @prices["DISPLAY"].each do |key,value| %>
      <td><%= key %> </td>
      <td><%= value["USD"]["PRICE"] %></td>
      <td><%= value["USD"]["HIGHDAY"]%> </td>
      <td><%= value["USD"]["LOWDAY"]%> </td>
      <td><%= value["USD"]["MKTCAP"]%></td>
     </tr>
   <% end %>
  </tbody>
</table>

 
<% @news["Data"] %>
<div class="container">
	<div class="row">
		<% for x in @news["Data"] %>
			<div class="col-sm">
					<div class="card" style="width: 18rem;">
						<img class="card-img-top" src="<%= x["imageurl"] %>" alt="<%= x["source"] %>"> 
						<div class="card-body">
							<h5 class="card-title"><%= x["title"] %></h5>
							<p class="card-text"><%=x["body"] %></p>
			 				<a href="<%= x["url"] %>">Read more..</a><br/><hr><br/>
			 			</div>
			 		</div>
			 <% end %>
		<br/>
	</div>
</div>